- var HOME_PAGE = 'home'
- var CURRENT_PAGE

mixin link(name)
  - var isActive = (name == CURRENT_PAGE) ? 'active' : ''
  - var url = (name == HOME_PAGE) ? '/' : '/'+name
  a(href=url, class=isActive+' '+name+'-link')
    block

mixin nav(name)
  - CURRENT_PAGE = name
  .nav
    a.small-logo(href='/')
    ul
      li: +link('home') Portfolio
      li: +link('about') About
      //- li: +link('blog') Blog
      li: +link('contact') Contact
    a.menu-button(href='#')
  .slide-out-menu.hide
    a.close-button(href='#')
    .portfolio-icon
    ul
      li: +link('home') Portfolio
      li: +link('about') About
      //- li: +link('blog') Blog
    .heading Contact Info
    .contact-info
      .phone= CONFIG.phone
      a.email(href='mailto:'+CONFIG.email)!= CONFIG.emailHtml
    .social-buttons
      each url, name in CONFIG.social
        a.social-button(class=name, href=url)
