block vars

doctype html
html(lang='en')
  head

    if TITLE
      title= TITLE + ' - ' + CONFIG.title
    else
      title The Portfolio of Angelica Design

    include meta

    //--Page styles
    link(rel='stylesheet', href='/styles/main.css')

  body(class=NAME ? NAME+'-page' : '')
    include contact-page

    block header
      include _nav
      +nav(NAME)

    .main
      block content

    a.to-top-button.hide(href='#')

    .footer
      .footer-top-section
        .lets-connect-container
          .if-work-well Think we'd work well together?
          img.lets-connect(src='/images/icons/2x_Lets_Connect.png')
        .contact-info
          .phone
            img.phone-icon(src='/images/icons/2x_Phone.png')
            = CONFIG.phone
          a.email(href='mailto:'+CONFIG.email)
            img.email-icon(src='/images/icons/2x_Email.png')
            = CONFIG.email
      .footer-bottom-section
        .copyright= CONFIG.copyright
        .social-buttons
          each url, name in CONFIG.social
            a.social-button(class=name, href=url)

    // build:js /scripts/vendor.min.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/sticky/jquery.sticky.js')
    // endbuild

    // build:js /scripts/main.min.js
    script(src='/scripts/main.js')
    script(src='/scripts/main-helper.js')
    // endbuild
    //- include analytics
