block vars

doctype html
html(lang='en')
  head

    if TITLE
      title= TITLE + ' - ' + CONFIG.title
    else
      title The Portfolio of Angelica Design

    include meta

    //--Page styles
    link(rel='stylesheet', href='/styles/main.css')

  body(class=NAME ? NAME+'-page' : '')
    .nano-content
      include contact-page

      block header
        include _nav
        +nav(NAME)

      .main
        block content

      a.to-top-button.hide(href='#')

      .footer
        .content
          .contact-info
            .phone= CONFIG.phone
            a.email(href='mailto:'+CONFIG.email)= CONFIG.email
          .social-buttons
            each url, name in CONFIG.social
              a.social-button(class=name, href=url)
          .copyright= CONFIG.copyright

    // build:js /scripts/vendor.min.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/sticky/jquery.sticky.js')
    script(src='/bower_components/jquery-unorphanize/unorphanize.jquery.js')
    script(src='/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js')
    script(src='/scripts/has-scrollbar.js')
    // endbuild

    // build:js /scripts/main.min.js
    script(src='/scripts/main.js')
    // endbuild
    //- include analytics
