extends layout

//- block append vars
//-   - TITLE = CONFIG.projects[PROJ_INDEX].title
//-   - PROJ = CONFIG.projects[PROJ_INDEX].name
//-   - TYPE = CONFIG.projects[PROJ_INDEX].type

mixin project(num, type)
  if !type
    img(src='/images/projects/#{PROJ}/#{PROJ}-#{num}.jpg')&attributes(attributes)
  else
    img(src='/images/projects/#{PROJ}/#{PROJ}-#{num}.#{type}')&attributes(attributes)

block content
  .project-page(class=PROJ)
    //- old hero
    //- .hero(style={'background-image': 'url(/images/projects/#{PROJ}/#{PROJ}-1.jpg)'})
      //- h1.title= TITLE
      //- .project-type= TYPE
    img.hero-image(src='/images/projects/#{PROJ}/#{PROJ}-1.jpg')
    .project-content
      block project-content
    //- .project-nav
    //-   a.social-button.share(href=CONFIG.social.share)
    //-   .previous-and-next
    //-     a.project-previous(href='#')
    //-     a.project-next(href='#')
